body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: red;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.object {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wall {
  background-color: black;
}
.storage {
  background-image: url('images/wood.webp')
}
.box {
  background-image: url('images/crate.png')
}
.path {
  background-image: url('img/floor-img.jpg');
}
.start {
  background-image: url('img/floor-img.jpg');
}
#player {
  height: 20px;
  width: 30px;
background-image: url('images/naruto.png')
}
#map {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  height: 360px;
}
button:hover{
  cursor: pointer;
}
